<nav class="nav-div"> 
    <div class="left">
        <a onclick="location.href='/home'"><img class="logo-1" src="../../assets/model-fenicia-icon-circle.ico.png"></a>
        <button type="button" class="btn btn-clear1" onclick="location.href='/home'">Model Fenicia</button>
    </div>
    <div class="right">
        <ul >
            <button type="button" class="btn btn-clear1" onclick="location.href='/home#about'">About Us</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='/home#subscriptions'">Subscriptions</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='/home#contact-us'">Contact Us</button>
            <button type="button" class="btn btn-dark1" onclick="location.href='/register'">Register</button>
            <button type="button" class="btn btn-dark2" onclick="location.href='/login'">Login</button>
        </ul>
    </div>
</nav>