<nav class="nav-div"> 
    <div class="center">
        <img class="logo-1" src="../../assets/model-fenicia-icon-circle.ico.png">
        <button type="button" class="btn btn-clear1" onclick="location.href='/home'">Model Fenicia</button>
    </div>
    <div>
        <ul >
            <button type="button" class="btn btn-clear1" onclick="location.href='#about'">About Us</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='#subscriptions'">Subscriptions</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='#contact-us'">Contact Us</button>
            <button type="button" class="btn btn-dark1" onclick="location.href='/register'">Register</button>
            <button type="button" class="btn btn-dark2" onclick="location.href='/login'">Login</button>
        </ul>
    </div>
</nav>