<nav class="nav-div"> 
    <div class="left">
        <a onclick="location.href='/home'"><img class="logo-1" src="../../assets/model-fenicia-icon-circle.ico.png"></a>
        <button type="button" class="btn btn-clear1" onclick="location.href='/home'">Model Fenicia</button>
    </div>
    <div class="right">
        <ul >
            <button type="button" class="btn btn-clear1" onclick="location.href='/profile#movies'">Movies</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='/profile#subscriptions'">Statistics</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='/profile#my-plan'">My Plan</button>
            <button type="button" class="btn btn-clear1" onclick="location.href='/profile#edit'">My Profile</button>
            <button type="button" class="btn btn-dark2" onclick="location.href='/login'">Exit</button>
        </ul>
    </div>
</nav>