<navigation-bar></navigation-bar>
<main>
    <div  class="movie-grid">
        <movie-home-title [info]="movies"></movie-home-title>
    </div>
    <section class="parallax bg"></section>
    <section id="about" class="no-parallax home-section">
        <h2 class="home-header">Model Fenicia</h2>
        <p class="home-caption">
            In Model Fenicia, we are committed to being your partner
            on your journey to mastering your movies' data.
        </p>
        <p class="home-caption">
            Let us show you your movie buisness' newfavorite data tool! Explore our plans, and let us do the data-lifting.
        </p>
        <button href="/register" class="btn btn-dark2">Register Now</button>
    </section>
    <section id="subscriptions" class="no-parallax about-us-section">
        <h2 class="home-header">Our Subscriptions</h2>
        <p class="home-caption">
            In Model Fenicia, we have a variety of plans designed specifically
            to satisfy your expectations, both in our services quality and
            pricing.
        </p>
        <p class="home-caption">
            At the time, we have [0] availalble plans for you!
        </p>
        <button href="/register" class="btn btn-dark1">Enroll!</button>
    </section>
</main>